.cart{
    position: sticky;
    top: 0;
    padding-top: 10px;
    
}
.cart h3{
    text-align: center;
}
.cart-item{
    display: flex;
}
.cart-item button{
    border: none;
    color: gray;
    background-color: white;
}