.cart{
    position: sticky;
    top: 0;
    padding: 10px 10px 0px 10px;
    
}
.cart h3{
    text-align: center;
}
.cart h4{
    text-align: center;
    color: orange;
}

.choose-one-btn{
 width: 80%;
 margin: 10px 20px;
}

.choose-again-btn{
    width: 80%;
    margin: 10px 0;
    margin: 10px 20px;
}