.product{
    border: 1px solid rgba(230, 229, 229, 0.719);
    border-radius: 10px;
    width: 85%;
    height: 500px;
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.301); */
}
.product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product img{
    width: 100%;
}
.product h4{
    padding-left: 5%;
}
.product p{
    padding-left: 5%;
}
.product button{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border: 1px solid rgba(230, 229, 229, 0.719);
    background-color: white;
    font-size: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
